<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">

    <title>Document</title>
</head>
<body style="margin: 0px;">


<nav class="NavMenu">
    <div  class="Menu">
        <a href="#"> Home </a>
        <a href="#"> Articles</a>
        <a href="#"> Contact</a>
    </div>
</nav>

<h1 class="titrePrincipal">Choisir: Linux ou Windows</h1>
<aside class="aside_article">
    {% include 'default/_article/_loop_articles.html.twig' %}
</aside>

<footer>
    <img  class="footer" src="https://netgear.fr/images/WebsitePieces/footer-rbu.png">
</footer>

</body>
</html>