<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">
    <title>Document</title>
</head>
<body style="margin: 0px;">

{% for element in Articles %}
    <p>{{ element }}</p>
{% endfor %}

{% if age > 18 %}

<h1 class="titrePrincipal">Choisir: Linux ou Windows</h1>
<article class="article">
<header>
    <h1 class="titre">Titre</h1>
    <div class="center"> <img class="article_img" src="https://www.ginjfo.com/wp-content/uploads/2015/02/LinuxVsWindows.jpg"> </div>
</header>
    <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur aut,
                delectus esse est et eveniet, explicabo in iure labore molestiae nihil non officia,
                quam quos rem sequi ut.</p>
    </div>
</article>

<article class="article">
<header>
    <h1 class="titre">Titre</h1>
    <div class="center">  <img class="article_img" src="https://www.ginjfo.com/wp-content/uploads/2015/02/LinuxVsWindows.jpg"> </div>
</header>
<div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur aut,
        delectus esse est et eveniet, explicabo in iure labore molestiae nihil non officia,
        quam quos rem sequi ut.</p>
</div>
</article>

<article class="article">
<header>
    <h1 class="titre">Titre</h1>
    <div class="center"> <img class="article_img" src="https://www.ginjfo.com/wp-content/uploads/2015/02/LinuxVsWindows.jpg"> </div>
</header>
<div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur aut,
        delectus esse est et eveniet, explicabo in iure labore molestiae nihil non officia,
        quam quos rem sequi ut.</p>
</div>
</article>

<article class="article">
<header>
    <h1 class="titre">Titre</h1>
    <div class="center"> <img class="article_img" src="https://www.ginjfo.com/wp-content/uploads/2015/02/LinuxVsWindows.jpg"> </div>
</header>
<div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur aut,
        delectus esse est et eveniet, explicabo in iure labore molestiae nihil non officia,
        quam quos rem sequi ut.</p>
</div>
</article>

<article class="article">
<header>
    <h1 class="titre">Titre</h1>
    <div class="center"> <img class="article_img" src="https://www.ginjfo.com/wp-content/uploads/2015/02/LinuxVsWindows.jpg"> </div>
</header>
<div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur aut,
        delectus esse est et eveniet, explicabo in iure labore molestiae nihil non officia,
        quam quos rem sequi ut.</p>
</div>
</article>

<article class="article">
<header>
    <h1 class="titre">Titre</h1>
    <div class="center">  <img class="article_img" src="https://www.ginjfo.com/wp-content/uploads/2015/02/LinuxVsWindows.jpg"> </div>
</header>
<div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur aut,
        delectus esse est et eveniet, explicabo in iure labore molestiae nihil non officia,
        quam quos rem sequi ut.</p>
</div>
</article>
{% else %}
    <h1 class="titrePrincipal">Le poker, un choix de vie ...</h1>

<article class="article">
    <header>
        <h1 class="titre">Jouer comporte des risques</h1>
        <div class="center"> <img class="article_img" src="https://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/sport/la-folie-poker-559438/5172628-1-fre-FR/La-Folie-Poker.jpg"> </div>
    </header>
    <div class="text">
        <p>« Famille, vie sociale, santé financière. Etes-vous prêt à tout miser ? Pour être aidé, appelez le 09-74-75-13-13 (appel non surtaxé) » ;
            « Jouer comporte des risques : endettement, isolement, dépendance. Pour être aidé, appelez le 09-74-75-13-13 (appel non surtaxé) ».</p>
    </div>
</article>

<article class="article">
    <header>
        <h1 class="titre">Jouer comporte des risques</h1>
        <div class="center"> <img class="article_img" src="https://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/sport/la-folie-poker-559438/5172628-1-fre-FR/La-Folie-Poker.jpg"> </div>
    </header>
    <div class="text">
            <p>« Famille, vie sociale, santé financière. Etes-vous prêt à tout miser ? Pour être aidé, appelez le 09-74-75-13-13 (appel non surtaxé) » ;
                « Jouer comporte des risques : endettement, isolement, dépendance. Pour être aidé, appelez le 09-74-75-13-13 (appel non surtaxé) ».</p>
    </div>
</article>

<article class="article">
    <header>
            <h1 class="titre">Jouer comporte des risques</h1>
            <div class="center"> <img class="article_img" src="https://resize-parismatch.ladmedia.fr/r/625,417,center-middle,ffffff/img/var/news/storage/images/paris-match/actu/sport/la-folie-poker-559438/5172628-1-fre-FR/La-Folie-Poker.jpg"> </div>
    </header>
    <div class="text">
            <p>« Famille, vie sociale, santé financière. Etes-vous prêt à tout miser ? Pour être aidé, appelez le 09-74-75-13-13 (appel non surtaxé) » ;
                « Jouer comporte des risques : endettement, isolement, dépendance. Pour être aidé, appelez le 09-74-75-13-13 (appel non surtaxé) ».</p>
    </div>
</article>
{% endif %}

</body>
</html>